Architecture: amd64
Description: otus_cpp_p_project built using CMake
Maintainer: example@example.com
Package: otus_cpp_p_project
Priority: optional
Section: devel
Version: 0.0.10
Installed-Size: 1393

